<html>
<head>
    <title>Post List</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <div class="header">
        <h1>글목록</h1>
    </div>
    <div class="list">
        <table>
            <tr>
                <h3 class="title">Some Great Article</h3>
                <p class="preview">This article is very very important...</h3>
            </tr>
            <tr>
                <h3 class="title">The secret method to solve starvation problem</h3>
                <p class="preview">Eat potatos...</h3>
            </tr>
            <tr>
                <h3 class="title">Bla bla bla</h3>
                <p class="preview">Are you reading this? why?</h3>
            </tr>
        </table>
    </div>
</body>
</html>